extends ../layout.pug

block content
    h3 Title: #{post.title}
    p Description: #{post.description}
    p Author: #{post.user.username}
    p Created: #{post.created}
    p Price: #{post.price}
    p Condition: #{post.condition}
    -if(post.filelist)
        -for(var i = 0; i < post.filelist.length; i++)
            p [File #{i + 1}] #{post.filelist[i].filename}
            -if(post.filelist[i].location)
                img(src=`${post.filelist[i].location}` alt=``)
            -else
                p /image: Not Found/
    br
    a(href=`/api/market`) postlist
