extends ../layout.pug

block content
    h3 Title: #{post.title}
    p Description: #{post.description}
    p Author: #{post.author}
    p Created: #{post.created}
    -if(files)
        -for(var i = 0; i < files.length; i++)
            p [File #{i + 1}] #{files[i].filename}
            -if(files[i].location)
                img(src=`${files[i].location}` alt=``)
            -else
                p "image: Not Found"
    br
    a(href=`/market`) postlist